::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "Roboto Mono", 'Courier New', Courier, monospace;
    margin: 0;

    display: flex;
    flex-flow: column nowrap;
}

a {
    text-decoration: none;
    color: rgb(249, 118, 118);
}

a:hover {
    color: rgb(251, 69, 69);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: .1rem solid black;
}

nav {
    padding: 1.5rem;
    margin-right: 2rem;

    display: flex;
    justify-content: space-between;
    gap: 3rem;

    font-size: large;
}

.navLink {
    font-size: larger;
    color: black;
}

#logo {
    aspect-ratio: 1/1;
    object-fit: cover;

    padding: 0rem;
    margin: 0rem 0rem 0rem 3rem;
    scale: 1.2;

    height: 3rem;
}

footer {
    background-color: #353535;
    color: rgb(219, 219, 219);
    padding-bottom: 33.5rem;
    padding-top: 2rem;

    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}

.selectedPage {
    text-decoration: underline;
}

li {
    list-style: none;
}

.mobileOnly {
    display: none;
}

/* Welcome page */

#welcomePage {
    margin: 0rem;
    padding: 0rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#welcomeTextWrapper {
    margin: 0rem;
    padding: 10rem 0rem 0rem 5rem;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;

    font-size: 1rem;

    max-width: 45%;
}

#welcomeParagraph {
    margin: 0rem;
    padding: 1rem;

    max-width: 90%;
}

#welcomePageImage {
    margin: 0rem;
    padding: 0rem;

    height: 40rem;
}

/* Portfolio Page */

#portfolioPage {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
}

#portfolioPageH1 {
    margin: 1rem;
    padding: 0rem;
}

#portfolioDescription {
    margin: 0rem 0rem 5rem 0rem;
    padding: 0rem;

    max-width: 65%;
}

#portfolioUnorderedList {
    max-width: 90%;

    display: flex;
    flex-flow: column nowrap;

    gap: 2rem;
}

.portfolioListElement {
    max-width: 90rem;
    max-height: 19rem;

    background-color: rgb(235, 235, 235);
    color: black;
    border: black solid 1px;

    padding: 0rem;
    margin: 0rem;

    border-radius: 2rem;

    display: flex;
    flex-flow: row nowrap;
}

.portfolioElementImg {
    aspect-ratio: 1/1;
    object-fit: cover;
    margin: 0;
    padding: 0;

    border-radius: 2rem 0rem 0rem 2rem;

    max-height: 19rem;

    transform: scale(1);
    transition: transform .3s ease-in-out;
}

.portfolioElementImg:hover {
    border-radius: 2rem .8rem .8rem 2rem;
    transform: scale(1.05);
}

.portfolioElementTextWrapper {
    display: flex;
    flex-flow: column wrap;
}

.portfolioElementTitle {
    margin-top: 2rem;
    font-size: larger;
}

.portfolioElementParagraph {
    padding: 0rem 3rem 0rem 3rem;
    margin: 0;
    max-width: 28rem;
}