::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "Roboto Mono", 'Courier New', Courier, monospace;
    margin: 0;

    display: flex;
    flex-flow: column nowrap;
}

a {
    text-decoration: none;
    color: rgb(249, 118, 118);
}

a:hover {
    color: rgb(251, 69, 69);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: .1rem solid black;
}

nav {
    padding: 1.5rem;
    margin-right: 2rem;

    display: flex;
    justify-content: space-between;
    gap: 3rem;

    font-size: large;
}

.navLink {
    font-size: larger;
    color: black;
}

#logoFig {
    margin-left: 2rem;
}

#logo {
    aspect-ratio: 1/1;
    object-fit: cover;
}

footer {
    background-color: #353535;
    color: rgb(219, 219, 219);
    padding-bottom: 33.5rem;
    padding-top: 2rem;

    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}

.selectedPage {
    text-decoration: underline;
}

/* Welcome page */

#welcomePage {
    margin: 0rem;
    padding: 0rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#welcomeTextWrapper {
    margin: 0rem;
    padding: 10rem 0rem 0rem 5rem;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;

    font-size: 1rem;

    max-width: 45%;
}

#welcomeHeader {
    margin: 0.5rem;
    padding: 0.5rem;

    font-size: 1.3rem;
    font-weight: normal;
}

#welcomeParagraph {
    margin: 0rem;
    padding: 1rem;

    max-width: 90%;
}

#welcomePageImage {
    margin: 0rem;
    padding: 0rem;

    height: 40rem;
}